/* CUSTOM SCROLL BAR  */
@media (min-width: 768px) {
    .right-pink-box {
        width: 314px;
        height: 236px;
        left: 22%;
    }

    .left-pink-box {
        width: 314px;
        height: 236px;
        right: 22%;
    }

    .white_bg_box {
        padding: 30px;
        max-width: 335px;
        max-height: 300px;
        width: 100%;
        background: white;
    }

    .popup_form {
        padding: 20px;
        background: #ffffff;
        border: 1px solid #0000001A;
        border-radius: 15px;
        max-width: 528px;
    }
}

@media (min-width:992px) {
    .right-pink-box {
        width: 366px;
        height: 315px;
        left: 20%;
    }

    .left-pink-box {
        width: 366px;
        height: 315px;
        right: 20%;
    }

    .nividia-pink-bottomellipse {
        width: 346px;
        height: 346px;
    }

    .microsoft-pink-ellipse {
        width: 346px;
        height: 346px;
    }

    .aws-pink-ellipse {
        width: 314px;
        height: 314px;
    }

    .plantir-pink-ellipse {
        width: 340px;
        height: 340px;
    }

    .crowd-pink-ellipse {
        width: 344px;
        height: 344px;
    }

    .ui-pink-ellipse {
        width: 344px;
        height: 344px;
    }

    .nividia-pink-topellipse {
        width: 346px;
        height: 346px;
    }

    .nividia-pink-bottomellipse {
        width: 346px;
        height: 346px;
    }

    .ui-pink-ellipse2 {
        width: 304px;
        height: 304px;
    }

    .arista-pink-ellipse2 {
        width: 346px;
        height: 346px;
    }

    .stock-2 {
        padding: 22px 31px 36px 62px !important;
    }

    .stock-3 {
        padding: 78px 35px !important;
    }

    .stock-4 {
        padding: 133px 40px !important;
    }

    .stock-5 {
        padding: 114px 12px !important;
    }

    .stock-6 {
        padding: 115px 32.68px !important;
    }

    .stock-7 {
        padding: 142px 19px !important;
    }

    .white_bg_box {
        padding: 49px 59.79px 79px 27.21px;
        max-width: 375px;
        max-height: 340px;
        width: 100%;
        background: white;
    }

    .popup_form {
        padding: 30px;
        background: #ffffff;
        border: 1px solid #0000001A;
        border-radius: 15px;
        max-width: 528px;
    }
}


@media (max-width:400px) {
    .bgpopup {
        padding: 83px 30px 84px 30px !important;
        width: 100%;
        max-width: 320px !important;
    }
}

@media (min-width: 992px) {
    .accounts_card {
        transform: translateY(-15%);
    }

    .icons_card_2 {
        margin-bottom: 32px;
    }

    .ellipse_1_2 {
        width: 415px;
        height: 415px;
    }

    .ellipse_2_2 {
        width: 415px;
        height: 415px;
    }

    .trade_img {
        transform: translateY(-15%);
    }

    .benifit_card_2 {
        padding: 20px 15.5px 20px 15.5px;
        min-height: 240px;
    }

    .mb-lg-65 {
        margin-bottom: 65px;
    }

    .AIFaqRightEllips {
        filter: blur(140px);
    }

    .Ai_stackLeftEllipsAI {
        filter: blur(170px);
        width: 200px;
        height: 200px;
        top: 37%;
    }

    .AIfooterLeft {
        width: 150px;
        height: 150px;
        filter: blur(150px);
        bottom: -20%;
    }

    .benefits_bubble_2 {
        transform: translateY(-32%);
        left: -1%;
        top: 70%;
    }

    .accounts_card {
        transform: translateY(-15%);
    }

    .icons_card_2 {
        margin-bottom: 32px;
    }

    .ellipse_1_2 {
        width: 415px;
        height: 415px;
    }

    .ellipse_2_2 {
        width: 415px;
        height: 415px;
    }

    .trade_img {
        transform: translateY(-15%);
    }

    .benifit_card_2 {
        padding: 20px 15.5px 20px 15.5px;
        min-height: 240px;
    }

    .mb-lg-65 {
        margin-bottom: 65px;
    }
}

@media (min-width: 768px) {
    .benefits_bubble_2 {
        transform: translateY(-39%);
        z-index: 1;
        width: 366px !important;
        height: 316px !important;
    }

    .mobile_wh_2 {
        width: 314px !important;
        height: 614px !important;
    }

    .accounts_card {
        max-width: 471px;
    }

    .mw_209 {
        max-width: 209px;
    }

    .mobile_trading_2 {
        border-radius: 5.87px;
        width: 247px !important;
        max-height: 208px;
    }


    .mobile_inner_part_2 {
        padding: 28px 3px;
        max-width: 244px !important;
        left: 10%;
    }

    .mt-md-40 {
        margin-top: 40px;
    }

    .Ai_stackLeftEllipsAI {
        width: 150px;
        height: 200px;
        filter: blur(160px);
    }

    .AIFaqRightEllips {
        bottom: 35%;
        width: 150px;
        height: 160px;
        filter: blur(220px);
    }

    .AIFaqBottomEllips {
        width: 160px;
        height: 200px;
        filter: blur(160px);
    }

    .benefits_bubble_2 {
        transform: translateY(-39%);
        z-index: 1;
        width: 366px !important;
        height: 316px !important;
    }

    .mobile_wh_2 {
        width: 314px !important;
        height: 614px !important;
    }

    .accounts_card {
        max-width: 471px;
    }

    .mw_209 {
        max-width: 209px;
    }

    .mobile_inner_part_2 {
        padding: 28px 3px;
        width: 244px;
        left: 10%;
    }

    .mobile_trading_2 {
        border-radius: 5.87px;
        width: 247px !important;
        max-height: 208px;
    }
}

@media (min-width:576px) {

    .brandGroupwidthAI {
        max-width: 518px;
        height: 534px;
    }

    .faq .accordion-body {
        max-width: 680px;
        padding: 14px 30px 0px 3px !important;
    }

    .faq .accordion-button {
        padding: 20px 3px 0px 3px !important;
    }

    .faq .accordion-item {
        padding-right: 15px !important;
        padding-bottom: 20px !important;
    }

    .AiStockFormCard {
        padding: 24px;
    }

    .footerPadding {
        padding-top: 10px;
    }

    .AIFaqLeftEllips {
        width: 157px;
        height: 140px;
        filter: blur(165px);
    }

    .AIFaqRightEllips {
        bottom: 60%;
        width: 150px;
        height: 150px;
        filter: blur(150px);
    }

    .AIFaqBottomEllips {
        width: 160px;
        height: 200px;
        filter: blur(180px);
    }

    .Ai_stackLeftEllipsAI {
        width: 200px;
        height: 200px;
        filter: blur(140px);
    }

    .Ai_stackRightEllipsAI {
        width: 200px;
        height: 200px;
    }

    .AIfooterLeft {
        width: 200px;
        height: 200px;
        filter: blur(140px);
    }

    .FooterBottomPaddingAI {
        padding-top: 27px;
        padding-bottom: 27px;
    }

    .faq .accordion {
        --bs-accordion-btn-icon-width: 28px !important;
    }

    .back {
        width: 35px;
        height: 35px;
    }

    .AiStockInput {
        padding: 16px;
    }

    .AiStockInputPhone {
        padding: 16px;
    }

    .benefits_bubble_2 {
        width: 361px !important;
        height: 321px !important;
    }

    .accounts_card {
        max-width: 471px;
    }

    .mobile_inner_part_2 {
        padding: 28px 14px;
    }

    .border_Statistics2 {
        width: 190px;
        height: 190px;
    }

    .mt-sm-32 {
        margin-top: 32px;
    }
}

@media (min-width:992px) {
    .border_Statistics2 {
        width: 270px;
        height: 270px;
    }

    .bg-hero-img-2 {
        background-size: 100% 100%;
    }

    .man-profile-card2 {
        min-width: 367px !important;
    }

    .vedio2 {
        margin: 0 12px;
    }

    .mt_0 {
        margin-top: 0;
    }
}

@media (min-width: 1023.8px) {
    .understanding_card_2 {
        padding: 25px 50px 0px 25px;
    }

    .icons_card_2 {
        padding: 13px 11px 13px 11px;
        background: #0b0e10;
        border-radius: 4px;
        margin-bottom: 15px;
    }
}

@media (min-width:1200px) {
    .body_bg_img2 {
        background-image: url("/assets/images/webp/bgbody.webp") !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .AIfooterLeft {
        width: 200px;
        height: 200px;
        filter: blur(140px);
    }

    .benefits_bubble_2 {
        left: -5%;
    }

    .mw_1164 {
        max-width: 1164px;
    }

    .mw_327 {
        max-width: 327px;
    }

    .mw_1100 {
        max-width: 1150px !important;
    }

}